body{
  width: 100%;
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  background: #ecfdff url(../images/bg.jpg);	/*背景色、背景画像の読み込み*/
  -webkit-text-size-adjust: none;
}

.main{
  width: 100%;
}

.main div	{
  width: 700px;
  text-align: center;
  font-size: 1em;
  margin: 0 auto;
}

table {
  width: 100%;
  background: rgb(250, 250, 250);
}

a {
  text-decoration: none;
  color: rgb(33, 33, 33);
}

.head_menu {
  margin-top: 10px;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
}
#menu {
  width:1024px;
  height: 70px;
  padding:0;
  margin:0 auto;
  list-style-type: none;
	text-align: center;
}

#menu li {
  width:190px;
  height: 70px;
  line-height: 70px;
  float:left;
  border: 1px solid rgb(42, 42, 42);	/*枠線の幅、線種、色*/
  border-radius: 10px;	/*角丸のサイズ*/
  display: block;
  margin-left: 10px;
  text-decoration: none;
  -webkit-transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
  transition: 0.5s;			/*同上*/
}
#menu li:hover {
  color: #c80000;		/*文字色*/
	background: #fff;	/*背景色*/
}

.pager span{

}
.pager span:hover{
  color:#E48E00;
}
