@charset "utf-8";

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: rgb(42, 42, 42);
    /*全体の文字色*/
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    /*文字サイズ*/
    line-height: 2;
    /*行間*/
    background: linear-gradient(rgba(255, 255, 255, 0.7) 70%, rgba(87, 255, 119, 0.5)), url(../images/bg_bg_bg.png);
}


/*リンク（全般）設定
---------------------------------------------------------------------------*/

a {
    color: rgb(42, 42, 42);
    text-decoration: none;
    /*リンクテキストの色*/
}

a:hover {
    color: #c80000 !important;
    /*マウスオン時の文字色（全体）*/
    text-decoration: none;
    /*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}


/* 上部ヘッダー */

.head_menu {
    margin-top: 10px;
    width: 100%;
    height: 70px;
}

.head_img {
    width: 170px;
    height: 70px;
    float: left;
    background-image: url("../images/head_img_title.png");
}

#menu {
    width: 1024px;
    height: 70px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
}

#menu li {
    width: 170px;
    height: 71px;
    float: left;
    /*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
    transition: 0.5s;
    /*同上*/
}

#menu li:hover {
    color: #c80000;
    /*文字色*/
    background: rgb(187, 247, 177);
    /*背景色*/
}


/*コンテンツ全体*/

.container {
    width: 1024px;
    margin: 0 auto;
}


/*タイトル*/

.game_content {
    width: 980px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.5s;
    background-image: url("../images/title_img.png");
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
}

.game_select {
    float: right;
    margin-top: 30px;
    font-size: 2em;
}

.list_select
,.list_select li{
	padding:0px;
	margin:0px;
}

.list_select li{
	list-style-type:none !important;
	list-style-image:none !important;
	margin: 5px 0px 5px 0px !important;
}
.list1 li{
	position:relative;
	display: block;
  width: 220px;
	padding: 5px 0px 5px 0px;
	background: rgba(255, 239, 213, 0.7);
	color: #444;
	border-radius:15px 0px 0px 15px;
  text-align: center;
  transition: 0.5s;
}

.list1 li:hover{
	background: rgba(250, 228, 194, 1);
}


/*ワードリスト*/

.word_list {
  width: 500px;
  height: 100px;
  float: left;
  margin: 0 auto;
  margin-top: 10px;
  background-image: url("../images/word_list.png");
}

.ranking_btn {
  width: 500px;
  height: 100px;
  float: right;
  margin: 0 auto;
  margin-top: 10px;
  background-image: url("../images/rank_btn.png");
}


/*サブコンテンツ*/

.introduction {
    float: left;
    width: 650px;
    height: 850px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 48px;
    background: rgba(255, 255, 255, 0.8);
}

.box-shadow {
  transition: 0.5s;
  -moz-box-shadow: 2px 4px 5px 0px #dbdbdb;
  -webkit-box-shadow: 2px 4px 5px 0px #dbdbdb;
  box-shadow: 2px 4px 5px 0px #dbdbdb;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
}

.box-shadow:hover {
  cursor:pointer;
    filter: alpha(opacity=60);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=60)";  /* ie 8 */
    -moz-opacity:0.6;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.6;              /* Safari 1.x */
    opacity:0.6;
    zoom:1;
}

.infor_caption {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size:18px;
  	font-weight:bold;/*追加*/
}

#news {
    width: 650px;
    height: 200px;
    overflow: scroll;
}

#news li {
    width: 100%;
    height: 120px;
    padding: 10px 10px 0px 0px;
    border-bottom: 1px dotted #000000;
    overflow: hidden;
    box-sizing: border-box;
    /*追加*/
}

.newstext{
	float:none;
	width:auto;
	font-size:13px;
}

.newstext p > time, .newstext  nobr > time{
	font-size:12px;
	font-weight:bold;/*追加*/
}

.mode_area {
  width: 650px;
  height: 400px;
  background-image: url("../images/mode_area.png");
}

.typing_h2 {
    width: 650px;
    height: 45px;
    background-image: url("../images/typing_h2.png");
}

.sanserif {
    font-size: 1em;
    text-shadow: 0px 0px 3px #FFFFFF, 0px 0px 3px #FFFFFF;
    /*光沢*/
    color: #424242;
    margin: 10px;
}

.link {
    float: left;
    width: 322px;
    height: 850px;
    margin-top: 40px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.8);
}


/**witter**/

#twitter>h4 {
    padding-left: 15px;
    letter-spacing: 0em;
    /*レス変更*/
    color: #55acee;
}

.link_img {
    text-align: center;
}

.link_img img {
    height: 70px;
    margin-top: 10px;
}


/*フッター設定
---------------------------------------------------------------------------*/

footer {
    clear: both;
    text-align: center;
    background: #3e3e3e;
    color: #ffffff;
}

footer .pr {
    display: block;
    font-size: 80%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer img {
    width: 100px;
    height: auto;
}

/*Load*/

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
