body {
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0.7) 70%, rgba(87, 255, 119, 0.5)), url(../images/bg_bg_bg.png);

}

.main {
  width: 100%;
  text-align: center;
}

.main img {
  width: 800px;
  height: auto;
}

.content {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background: url(../images/ie_ng.jpg);
}

.chrome {
  width: 200px;
  height: 100px;
  float: left;
  margin-top: 350px;
  margin-left: 10px;
  background: rgba(16, 160, 251, 0.36);
  text-align: center;
  line-height: 100px;
}
.firefox {
  width: 200px;
  height: 100px;
  float: left;
  margin-top: 350px;
  margin-left: 30px;
  background: rgba(16, 160, 251, 0.36);
  text-align: center;
  line-height: 100px;
}
