AddType application/x-httpd-php .php .html
Options -Indexes

# HTTPSでアクセスされた場合、
RewriteCond %{HTTPS} on
# 以下のURL以外は常に http にリダイレクトする
RewriteCond %{HTTP_HOST} lostcolor.tell.jp/
# http にリダイレクト
RewriteRule ^.*$ http://%{HTTP_HOST}%{REQUEST_URI} [R,L]