@charset "utf-8";

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: rgb(42, 42, 42);
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    /*全体の文字色*/
    font-size: 14px;
    /*background: linear-gradient(#ffffff 50%, #86ff8b),url(../images/hane_bg.png);*/
    background: linear-gradient(rgba(255, 255, 255, 0.7) 70%, rgba(87, 255, 119, 0.5)), url(../../images/bg_bg_bg.png);
}


/*リンク（全般）設定
---------------------------------------------------------------------------*/

a {
    color: rgb(42, 42, 42);
    text-decoration: none;
    /*リンクテキストの色*/
}

a:hover {
    color: #c80000 !important;
    /*マウスオン時の文字色（全体）*/
    text-decoration: none;
    /*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}


/* 上部ヘッダー */

.head_menu {
    margin-top: 10px;
    width: 100%;
    height: 70px;
    margin-bottom: 30px;
}

.head_img {
    width: 170px;
    height: 70px;
    float: left;
    background-image: url("../../images/cr/head_img_title.png");
}

#menu {
    width: 1024px;
    height: 70px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
}

#menu li {
    width: 170px;
    height: 71px;
    float: left;
    /*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
    transition: 0.5s;
    /*同上*/
}

#menu li:hover {
    color: #c80000;
    /*文字色*/
    background: rgb(187, 247, 177);
    /*背景色*/
}


/*コンテンツ全体*/

.container {
    width: 1024px;
    height: 600px;
    margin: 0 auto;
    padding-bottom: 57px;
}

.container div {
    margin: 0 auto;
}


/*タイトル*/

.char_select {
    width: 800px;
    height: 80px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
}

.char_select img {
    width: 74px;
    height: 74px;
    border-style: solid double;
}

.char_select img:hover {
    cursor: pointer;
    filter: alpha(opacity=60);
    /* ie lt 8 */
    -ms-filter: "alpha(opacity=60)";
    /* ie 8 */
    -moz-opacity: 0.6;
    /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.6;
    /* Safari 1.x */
    opacity: 0.6;
    zoom: 1;
}

.main {
    width: 800px;
    height: 550px;
    background-image: url("../img/chara_bg.png");
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
}

.char_area {
    width: 300px;
    height: 550px;
    float: left;
    text-align: center;
}

.char_area img {
    width: auto;
    height: 550px;
}

.prof_area {
    width: 500px;
    height: 550px;
    float: left;
}

.name {
  line-height: 0.4;
  text-shadow: 0px 0px 3px #FFFFFF, 0px 0px 3px #FFFFFF;
  /*光沢*/
  color: #424242;
}

.BCV {
  width: 300px;
}

dl.search2{
	position:relative;
}
dl.search2 dt{
	padding:8px;
	background-color:#fff;
	border:1px solid #aaa;
}
dl.search2 dt input{
	width:150px;
	height:24px;
	line-height:24px;
	background:none;
	border:none;
}
dl.search2 dd{
	position:absolute;
	top:0;
	right:0;
}
dl.search2 dd button{
	display:block;
	width:100px;
	color:#fff;
	line-height:40px;
	text-align:center;
	background-color:#f66;
	border:1px solid #c66;
}


.detailed {
  padding-top: 10px;
}

.detailed p{
  text-shadow: 0px 0px 3px #FFFFFF, 0px 0px 3px #FFFFFF;
}

.catchcopy h1{
  text-shadow: 0px 0px 10px #FFFFFF, 0px 0px 10px #FFFFFF;
  /*光沢*/
  color: #424242;
}

.message {
  text-shadow: 0px 0px 3px #FFFFFF, 0px 0px 3px #FFFFFF;
}


/*フッター設定
---------------------------------------------------------------------------*/

footer {
    width: 100%;
    height: 57px;
    clear: both;
    text-align: center;
    background: #3e3e3e;
    color: #ffffff;
}

footer .pr {
    display: block;
    font-size: 80%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer img {
    width: 100px;
    height: auto;
}


/*Load*/

#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 1;
}

#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: #fff;
    z-index: 2;
}
