@charset "utf-8";
@font-face {
    font-family: 'myWebFont';
    /* お好きな名前にしましょう */
    url('font/yuminl.woff') format('woff'), /* モダンブラウザ用 */
    url('font/yuminl.ttf') format('truetype');
    /* iOS, Android用 */
    font-weight: normal;
    /* 念の為指定しておきます */
    font-style: normal;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: rgb(42, 42, 42);
    /*全体の文字色*/
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    /*文字サイズ*/
    line-height: 2;
    /*行間*/
    /*background: linear-gradient(#ffffff 50%, #86ff8b),url(../images/hane_bg.png);*/
    background: linear-gradient(rgba(255, 255, 255, 0.7) 70%, rgba(87, 255, 119, 0.5)), url(../../images/bg_bg_bg.png);
}


/*リンク（全般）設定
---------------------------------------------------------------------------*/

a {
    color: rgb(42, 42, 42);
    text-decoration: none;
    /*リンクテキストの色*/
}

a:hover {
    color: #c80000 !important;
    /*マウスオン時の文字色（全体）*/
    text-decoration: none;
    /*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}


/* 上部ヘッダー */

.head_menu {
    margin-top: 10px;
    width: 100%;
    height: 70px;
}

.head_img {
    width: 170px;
    height: 70px;
    float: left;
    background-image: url("../../images/cr/head_img_title.png");
}

#menu {
    width: 1024px;
    height: 70px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
}

#menu li {
    width: 170px;
    height: 71px;
    float: left;
    /*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
    transition: 0.5s;
    /*同上*/
}

#menu li:hover {
    color: #c80000;
    /*文字色*/
    background: rgb(187, 247, 177);
    /*背景色*/
}


/*コンテンツ全体*/

.container {
    width: 1024px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 57px;
}

.spec {
  width: 900px;
  margin: 0 auto;
}

/*タイトル*/

.box-shadow {
  margin-top: 30px;
  margin-bottom: 20px;
  -moz-box-shadow: 2px 4px 5px 0px #dbdbdb;
  -webkit-box-shadow: 2px 4px 5px 0px #dbdbdb;
  box-shadow: 2px 4px 5px 0px #dbdbdb;
}

.char_select {
  width: 800px;
  margin: 0 auto;
}

.char_icon {
  height: 50px;
}

.char_icon img {
  width: 50px;
  height: 50px;
  border:1px solid #333;/* 外枠の色 */
  padding:5px;/* 余白 */
  background-color:#ffffff;/* 余白部分の色 */
}

.char_icon img:hover {
  cursor:pointer;
    filter: alpha(opacity=60);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=60)";  /* ie 8 */
    -moz-opacity:0.6;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.6;              /* Safari 1.x */
    opacity:0.6;
    zoom:1;
}

table{
  width: 100%;
  border: 2px #808080 solid;
  border-collapse: collapse;
}

td {
  padding:0;
  border: 2px #808080 solid;
}
.prof {
  width: 300px;
  height: 550px;
}

.char_img {
  width: 500px;
  height: 550px;
  background-image: url("../img/chara_bg.png");
}

/*フッター設定
---------------------------------------------------------------------------*/

footer {
    width: 100%;
    height: 57px;
    clear: both;
    text-align: center;
    background: #3e3e3e;
    color: #ffffff;

}

footer .pr {
    display: block;
    font-size: 80%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer img {
    width: 100px;
    height: auto;
}
