.kaede_right_img {
  background: url("");
  width: 300px;
  height: 350px;
  float: left;
}

.kaede_right_img_defalt {
  background: url(../../images/typing/chiharu/chiharu.png);
  width: 300px;
  height: 350px;
  float: left;
}

.kaede_right_img_miss {
  background: url(../../images/typing/chiharu/chiharu-dmg.png);
  width: 300px;
  height: 350px;
  float: left;
}

.kaede_right_img_atk {
  background: url(../../images/typing/chiharu/chiharu-atk.png);
  width: 300px;
  height: 350px;
  float: left;
}

.kaede_right_img_atk2{
  background: url(../../images/typing/kaede/kaede-atk2-animation.png);
  width: 300px;
  height: 350px;
  float: left;
  animation: kaede_atk 1.0s steps(42);
}

.kaede_right_img_atk3 {
  background: url(../../images/typing/kaede/kaede-atk3-animation.png);
  width: 300px;
  height: 350px;
  float: left;
  animation: kaede_atk 1.0s steps(42);
}

.kaede_right_img_atk4 {
  background: url(../../images/typing/kaede/kaede-atk4-animation.png);
  width: 300px;
  height: 350px;
  float: left;
  animation: kaede_atk 1.0s steps(42);
}

@keyframes kaede_atk {
  to {
   background-position: -12600px 0;
  }
}


.left_img {
  background: url("");
  width: 200px;
  height: 350px;
  float: left;
}

.left_img_default {
  background: url(../../images/typing/bacteria/budou_default.png);
  width: 200px;
  height: 350px;
  float: left;
}

.left_img_dmg {
  background: url(../../images/typing/bacteria/budou_default_dmg.png);
  width: 200px;
  height: 350px;
  float: left;
}
