#preloadedImages {
       width: 0px;
       height: 0px;
       display: inline;
       background-image: url(../img/typing/budou_default.png);
       background-image: url(../img/typing/budou_default_dmg.png);
       background-image: url(../img/typing/kaede_atk.png);
       background-image: url(../img/typing/kaede_atk2.png);
       background-image: url(../img/typing/kaede_atk3.png);
       background-image: url(../img/typing/kaede_default.png);
       background-image: url(../img/typing/kaede_miss.png);
       background-image: url(../img/typing/kaede-atk2-animation.png);
       background-image: url(../img/typing/kaede-atk3-animation.png);
       background-image: url(../img/typing/kaede-atk4-animation.png);
       background-image: url(../img/story/kaede.png);
       background-image: url(../img/story/kaede_off.png);
       background-image: url(../img/story/nasi.png);
       background-image: url(../img/story/sipses.png);
       background-image: url(../img/story/sipses_off.png);
       background-image: url(../img/story/tiharu.png);
       background-image: url(../img/story/tiharu_off.png);
       background-image: url(../img/story/yayoi.png);
       background-image: url(../img/story/yayoi_off.png);
       background-image: url(../img/story/yukino.png);
       background-image: url(../img/story/yukino_off.png);
       background-image: url(../img/story/bg/kouen_1.jpg);
       background-image: url(../img/story/bg/sai_1.jpg);
       background-image: url(../img/story/bg/sipses_cg_1.jpg);
       background-image: url(../img/story/bg/siro_1.jpg);
       background-image: url(../img/story/bg/siro_2.jpg);
       background-image: url(../img/story/bg/story01_01.jpg);
       background-image: url(../img/story/bg/story01_02.jpg);
       background-image: url(../img/story/bg/story01_03.jpg);
       background-image: url(../img/story/bg/story01_04.jpg);
       background-image: url(../img/story/bg/story01_05.jpg);
       background-image: url(../img/typing/bg/win.jpg);
       background-image: url(../img/typing/bg/lose.jpg);
       background-image: url(../img/start_bg.jpg);
}
