body{
  margin:0;
  padding:0;
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}
#menubutton {
display: inline-block;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 1px;
margin: 15px 25px;
padding: 15px 20px;
font-size: 20px;
font-weight: bold;
font-family: 'Montserrat', sans-serif;
-webkit-transition: 0.4s ease-in-out;
-o-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
}
.head_menu {
background: #FCCE30;
}
.head_menu a {
border-radius: 10px;
color: #CEA640;
background: #FFF79A;
border-bottom: 5px solid #E1B442;
box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
.head_menu a:hover {
box-shadow: 0 1px 2px rgba(0,0,0,0.3);
text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.jumbotron {
	text-align: center;
  height: 20rem;
	width: 30rem;
	border-radius: 0.5rem;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: 10rem auto;
	background-color: #fff;
	padding: 2rem;
}
input {
	width: 480px;
  margin-top: 1rem;
	padding: 1rem;
	background-color: #ecf2f4;
	border-radius: 0.2rem;
	border: none;
}
p {
  font-size: 2rem;
	font-weight: bold;
	color: #ababab;
}
#red {
  font-size: 1rem;
	font-weight: bold;
	color: #d90707;
}
.btn {
	border-radius: 0.2rem;
  font-size: 1rem;
  color: #817f7f;
}
.full-width {
	background-color: #8eb5e2;
	width: 100%;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.box {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
}
.login button   {
    border-top: 1px solid #ccc;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: 1px solid #ccc;
    padding: 5px 20px;
    font-weight: bold;
    cursor: pointer;
    color: #666;
}

.main {
  width: 100%;
}
.main div {
  width: 80%;
  text-align: center;
  margin:  0 auto;
}
